$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  //border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.btn-link-hashtag
{
    color:black;
}

.btn-link-hashtag:hover
{
    color:black;
}

.btn-link-hashtag-selected
{
    color:black;
    text-decoration: underline;
    -webkit-text-decoration-color: red;
    -moz-text-decoration-color: red;
    text-decoration-color: red;
}

.btn-link-hashtag-selected:hover
{
    color:black;
    text-decoration: underline;
    -webkit-text-decoration-color: red;
    -moz-text-decoration-color: red;
    text-decoration-color: red;
}

/* Start of the copy-paste from In-design*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.Paragraphe-standard {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
span.light {
	font-family:"Akzidenz-Grotesk BQ Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:300;
	text-transform:uppercase;
}
span.bold {
	font-family:"Akzidenz-Grotesk BQ", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.texte-larish {
	font-family:LarishNeueSemibold, serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.infos-contact {
	font-family:LarishNeueSemibold, serif;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
}
span.Style-de-caract-re-1 {
	font-family:LarishNeueSemibold, serif;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.texte-atlas {
	color:#000000;
	font-family:"Akzidenz-Grotesk BQ Light", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
}
p.para-style-override-1 {
	font-family:"OCR A Std", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-2 {
	-epub-hyphens:none;
	font-family:LarishNeueSemibold, serif;
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-3 {
	font-family:LarishNeueSemibold, serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
p.para-style-override-4 {
	font-family:LarishNeueSemibold, serif;
	font-size:48px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-5 {
	font-family:LarishNeueSemibold, serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-6 {
	-epub-hyphens:none;
	font-family:LarishNeueSemibold, serif;
	font-style:italic;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-7 {
	font-family:LarishNeueSemibold, serif;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
	text-transform:uppercase;
}
p.para-style-override-8 {
	font-family:LarishNeueSemibold, serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-9 {
	-epub-hyphens:none;
	font-family:"Atlas Grotesk Thin", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	text-transform:uppercase;
}
p.para-style-override-10 {
	font-family:LarishNeueSemibold, serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-11 {
	-epub-hyphens:none;
}
p.para-style-override-12 {
	font-family:"Akkurat Mono Regular", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-13 {
	-epub-hyphens:none;
	text-align:right;
}
p.para-style-override-14 {
	-epub-hyphens:none;
	text-align:center;
}
p.para-style-override-15 {
	text-align:center;
}
p.para-style-override-16 {
	text-align:right;
}
p.para-style-override-17 {
	font-family:LarishNeueSemibold, serif;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-18 {
	font-family:LarishNeueSemibold, serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-19 {
	font-family:"Akkurat Mono Regular", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-20 {
	font-family:LarishNeueSemibold, serif;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
	text-align:center;
}
span.char-style-override-1 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	font-family:"Akkurat Mono Regular", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	font-family:"Akkurat Mono Regular", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-4 {
	text-decoration:underline;
}
span.char-style-override-5 {
	font-family:LarishNeueSemibold, serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-6 {
	font-family:LarishNeueSemibold, serif;
	font-size:48px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	font-family:LarishNeueSemibold, serif;
	font-size:54px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	color:#000000;
}
span.char-style-override-9 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-10 {
	font-family:LarishNeueSemibold, serif;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
	text-transform:uppercase;
}
span.char-style-override-11 {
	font-family:LarishNeueSemibold, serif;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-12 {
	color:#ffffff;
}
span.char-style-override-13 {
	font-family:"Akzidenz-Grotesk BQ", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-14 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-15 {
	text-transform:uppercase;
}
span.char-style-override-16 {
	color:#ffffff;
	font-family:"Akzidenz-Grotesk BQ", sans-serif;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.char-style-override-17 {
	color:#ffffff;
	font-size:17px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
}
span.char-style-override-18 {
	color:#ffffff;
	font-family:"Akzidenz-Grotesk BQ", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-19 {
	font-family:"Akzidenz-Grotesk BQ", sans-serif;
	font-size:18px;
	font-style:italic;
	font-weight:bold;
}
span.char-style-override-20 {
	font-family:LarishNeueSemibold, serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
img.frame-1 {
	height:862px;
	width:1293px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
img.frame-3 {
	height:863px;
	width:1294px;
}
img.frame-4 {
	height:510px;
	width:754px;
}
img.frame-5 {
	height:503px;
	width:752px;
}
img.frame-6 {
	height:196px;
	width:752px;
}
img.frame-7 {
	height:85px;
	width:141px;
}
img.frame-8 {
	height:85px;
	width:142px;
}
img.frame-9 {
	height:85px;
	width:23px;
}
img.frame-10 {
	height:84px;
	width:141px;
}
img.frame-11 {
	height:84px;
	width:46px;
}
img.frame-12 {
	height:9px;
	width:141px;
}
img.frame-13 {
	height:84px;
	width:142px;
}
img.frame-14 {
	height:28px;
	width:142px;
}
img.frame-15 {
	height:85px;
	width:71px;
}
img.frame-16 {
	height:42px;
	width:70px;
}
img.frame-17 {
	height:177px;
	width:293px;
}
img.frame-18 {
	height:102px;
	width:68px;
}
img.frame-19 {
	height:102px;
	width:69px;
}
img.frame-20 {
	height:103px;
	width:444px;
}



/* Don't change the color of links */
a { color: inherit; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
