<p>Chef de projet <a ng-href="https://www.google.be/search?q=fanny.kruk">Fanny Kruk</a></p>
<p>Designer graphique <a ng-href="https://www.google.be/search?q=fanny.kruk">Fanny Kruk</a></p>
<p>Développeur <a ng-href="https://github.com/HelainSchoonjans">Hélain Schoonjans</a></p>
<p>Ce site à été développé à l'aide d'AngularsJs, Yeoman, HTML, CSS, ...</p>
<p>En Larish neue et Akzidenz-Grotesk BQ</p>
<p>Pour <a ng-href="http://www.lacambre.be/index.php?nodeid=11">ENSAV la Cambre</a>, 2016</p>
<p>Département de <a ng-href="comgraph.be">Communication Visuelle</a></p>
