<p>Chef de projet <a ng-href="https://github.com/HelainSchoonjans">Fanny Kruk</a></p>
<p>Designer graphique <a ng-href="https://github.com/HelainSchoonjans">Fanny Kruk</a></p>
<p>Développeur <a ng-href="https://github.com/HelainSchoonjans">Hélain Schoonjans</a></p>
<p>Ce site à été développé à l'aide de *logiciels*, *logiciels*</p>
<!--
AngularsJs, Yeoman, HTML, CSS, ...
-->
<p>En *font* et *font*</p>
<p>Pour <a ng-href="https://github.com/HelainSchoonjans">ENSAV la Cambre</a>, 2016</p>
<p>Département de Communication Visuelle</p>
