<div class="Bloc-de-texte-standard">
  <p class="Paragraphe-standard"><span class="texte-larish">
    Chef de projet <span class="texte-larish char-style-override-4"><a class="contact" ng-href="https://www.google.be/search?q=fanny.kruk">Fanny Kruk
    </a></span></span></p>
  <p class="Paragraphe-standard"><span class="texte-larish">
    Designer graphique <span class="texte-larish char-style-override-4"><a class="contact" ng-href="https://www.google.be/search?q=fanny.kruk">Fanny Kruk
    </a></span></span></p>
  <p class="Paragraphe-standard"><span class="texte-larish">
    Développeur <span class="texte-larish char-style-override-4"><a class="contact" ng-href="https://github.com/HelainSchoonjans">Hélain Schoonjans
    </a></span></span></p>
  <p class="Paragraphe-standard"><span class="texte-larish">
    Ce site à été développé à l'aide d'AngularsJs, Yeoman, Docker, Amazon Web Services, ...
  </span></p>
  <p class="Paragraphe-standard"><span class="texte-larish">
    En Larish neue et Akzidenz-Grotesk BQ
  </span></p>
  <p class="Paragraphe-standard"><span class="texte-larish">
    Pour <span class="texte-larish char-style-override-4"><a class="contact" ng-href="http://www.lacambre.be/index.php?nodeid=11">ENSAV la Cambre</a></span>, 2016
  </span></p>
  <p class="Paragraphe-standard"><span class="texte-larish">
    Département de <span class="texte-larish char-style-override-4"><a ng-href="comgraph.be">Communication Visuelle
    </a></span></span></p>
</div>
